-  content_for :title, "News Story"
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "story", media: :all


.page-header
  %h1= @article.title
= image_tag @article.avatar.url(:medium)
%p= @article.text

= link_to 'Edit', edit_article_path(@article),:class=> "btn btn-default btn-sm"

\#{link_to 'Back', articles_path,:class=> "btn btn-default btn-sm"}
