-# Displays the projects that the user has created.
.project.col-sm-12
  - @projects.each do |project|
    %div.container.buffered-top
      - if project.subcategory.name == 'Economic' && project.user_id == current_user.id
        %div.panel.panel-success
          %div.panel-heading
            %p= project.subcategory.name
          %div.panel-body
            %table
              %tr
                %td.title Project category:
                %td= project.category.name
              %tr
                %td.title Project number:
                %td= project.project_number
              %tr
                %td.title Project title:
                %td= project.project_title
              %tr
                %td.title Aims:
                %td= project.aims
              %tr
                %td.title Would do project:
                %td= project.would_do_project
              %tr
                %td.showButton= link_to 'Show', project, class: "show-flash btn btn-default"

      - if project.subcategory.name == 'Technology' && project.user_id == current_user.id
        %div.panel.panel-danger
          %div.panel-heading
            %p= project.subcategory.name
          %div.panel-body
            %table
              %tr
                %td.title Project category:
                %td= project.category.name
              %tr
                %td.title Project number:
                %td= project.project_number
              %tr
                %td.title Project title:
                %td= project.project_title
              %tr
                %td.title Aims:
                %td= project.aims
              %tr
                %td.title Would do project:
                %td= project.would_do_project
              %tr
                %td.showButton= link_to 'Show', project, class: "show-flash btn btn-default"

      - if project.subcategory.name == 'Knowledge' && project.user_id == current_user.id
        %div.panel.panel-info
          %div.panel-heading
            %p= project.subcategory.name
          %div.panel-body
            %table
              %tr
                %td.title Project category:
                %td= project.category.name
              %tr
                %td.title Project number:
                %td= project.project_number
              %tr
                %td.title Project title:
                %td= project.project_title
              %tr
                %td.title Aims:
                %td= project.aims
              %tr
                %td.title Would do project:
                %td= project.would_do_project
              %tr
                %td.showButton= link_to 'Show', project, class: "show-flash btn btn-default"
