- content_for :title, "Invite New Users"
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "admin", media: :all

- @sticky_footer = true

%h1 Users


%table
  - @users.each do |user|
    -if user.approved == false
      %tr
        %td= user.email
        %td= user.invitation_created_at
        %td= link_to "Edit", edit_user_path(user)
