- content_for :title, "Profile"
- @sticky_footer = true
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "contact", media: :all


- @disabled_nav = false
- @sticky_footer= true

%div.container.buffered-top

.image
  %img.water{:alt => "Water", :src => " /images/proto2.jpg"}/
  %h2
    Your Profile

  .contact
    %table.table-responsive
      %thead
        %tr
      %tbody
      %tr
        %td= current_user.name
      %tr
        %td= current_user.email
      %tr
        %td= current_user.work
      %tr
        %td= link_to "Edit" , :edit_user_registration, class: "show-flash btn btn-default"
