- content_for :title, "Buried Infrastructure Performance"
= stylesheet_link_tag    "bip", media: :all
= stylesheet_link_tag    "application", media: :all

.page-header
  %h1 Sheffield Water Centre

%div.categories_box
  %div.panel.panel-primary
    %div.panel-heading
      Categories
    %ul.nav
      %li.active
        = link_to 'All projects', '#'
      %li.active
        = link_to 'Zero Failures', :zero_failures
      %li.active
        = link_to 'Resource Recovery and Efficiency', :rre
      %li.active
        = link_to 'Buried Infrastructure Performance', :bip

%div.container.buffered-top

  %p#title Buried Infrastructure Performance
  %p#subtitle Vision: Reimagining the water system

  %div.panel.panel-success
    %div.panel-heading
      Economic
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-info
    %div.panel-heading
      Knowledge
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-danger
    %div.panel-heading
      Technology
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-success
    %div.panel-heading
      Economic
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-info
    %div.panel-heading
      Knowledge
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-danger
    %div.panel-heading
      Technology
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show
