- content_for :title, "Buried Infrastructure Performance"
= stylesheet_link_tag    "bip", media: :all
= stylesheet_link_tag    "application", media: :all

.page-header
  %h1 Sheffield Water Centre

%div#categories_box
  %p.lead Categories
  %ul.nav
    %li
      = link_to 'Zero Failures', :zero_failures
    %li
      = link_to 'Resource Recovery and Efficiency', :rre
    %li.active
      = link_to 'Buried Infrastructure Performance', :bip
    = link_to 'Back to main', :root, :id => "go_back"

%div.container.buffered-top

  %p#title Buried Infrastructure Performance
  %p#subtitle Vision: Reimagining the water system

  %div.project_box
    %div.knowledge
      Knowledge
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.economic
      Economic
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.technology
      Technology
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.knowledge
      Knowledge
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.economic
      Economic
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.technology
      Technology
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show    
