-  content_for :title, "Contact"
-  @sticky_footer = true
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "contact", media: :all


%div.container.buffered-top
  .container
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
        %a.close{"data-dismiss" => "alert"}
          &times;
        = content_tag :div, msg, :id => "flash_#{name}"

  .image
    %h1
      Contact
  .form.col-sm-6
    -# Renders the contact information
    =render  "info"
  -# Shows the location of Sheffield water centre on a map
  .info.col-sm-6
    %iframe.google{  :allowfullscreen => "", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.837839425568!2d-1.481115784391262!3d53.38195087974513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879788020127157%3A0x31e00ebdb379d999!2sMappin+Building!5e0!3m2!1sen!2suk!4v1461515847313"}
