- content_for :title, "Home"
= stylesheet_link_tag    "home", media: :all
= stylesheet_link_tag    "application", media: :all

- if $logged_in_message
  .alert.alert-success.alert-dismissible{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    Logged in successfully!

- $logged_in_message=false

.page-header
  %h1 Sheffield Water Centre


%div.categories_box.panel.panel-primary
  %ul.nav
    %li
    %li.dropdown
      %a.hidden-md.hidden-sm.hidden-xs.glyphicon.glyphicon-filter.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
        Categories
      %a.hidden-lg.hidden-xl.glyphicon.glyphicon-th-list.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
        %b.caret
      %ul.dropdown-menu{"role" => "menu"}
        %li
          = link_to 'All projects', :home
          = link_to 'Zero Failures', :zero_failures
          = link_to 'Resource Recovery and Efficiency', :rre
          = link_to 'Buried Infrastructure Performance', :bip

%div.container.buffered-top
  %div.panel.panel-success
    %div.panel-heading
      Economic
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-info
    %div.panel-heading
      Knowledge
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-danger
    %div.panel-heading
      Technology
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-success
    %div.panel-heading
      Economic
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-info
    %div.panel-heading
      Knowledge
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show

  %div.panel.panel-danger
    %div.panel-heading
      Technology
    %div.panel-body
      %p Project No.
      %p Project title
      %p Aims
      %p What would do this project
      = link_to 'See details', :show
