- content_for :title, "Home"
= stylesheet_link_tag    "home", media: :all
= stylesheet_link_tag    "application", media: :all

.page-header
  %h1 Sheffield Water Centre

%div#categories_box
  %p.lead Categories
  %ul.nav
    %li
      = link_to 'Zero Failures', :zero_failures
    %li
      = link_to 'Resource Recovery and Efficiency', :rre
    %li
      = link_to 'Buried Infrastructure Performance', :bip

%div.container.buffered-top
  %div.project_box
    %div.knowledge
      Knowledge
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.economic
      Economic
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.technology
      Technology
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.economic
      Economic
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.knowledge
      Knowledge
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show

  %div.project_box
    %div.economic
      Economic
    %p Project No.
    %p Project title
    %p Aims
    %p What would do this project
    = link_to 'See details', :show
