- content_for :title, "Log In"
= stylesheet_link_tag    "log_in_out", media: :all
= stylesheet_link_tag    "application", media: :all

%div.container.buffered-top

  .page-header
    %h1 Sheffield Water Centre

  %p.lead Log in/out page

  .container#inputFields
    = simple_form_for :form_examples do |f|
      = f.input :username, as: :string
      = f.input :password, as: :password

      %button#show-flash.btn.btn-default{ type: :button}
        Log in
        = link_to 'Go', :home

      %button#show-flash.btn.btn-default{ type: :button }
        Forgot password
