- content_for :title, "Log In"
= stylesheet_link_tag    "log_in_out", media: :all

- if $logged_out_message
  .alert.alert-danger.alert-dismissible{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    Logged out successfully!

- $logged_out_message = false


%div.container.buffered-top


  .page-header
    %h1 Sheffield Water Centre

  %p.lead Log In


  .container#inputFields
    = simple_form_for :form_examples do |f|
      = f.input :email, placeholder: "Email", label:false
      = f.input :password, as: :password,  placeholder: "Password", label:false

      %div#buttonContainer
        %button#show-flash.btn.btn-default{ type: :button}
          = link_to 'Login', :home

        %button#show-flash.btn.btn-default{ type: :button }
          = link_to 'Forgot Password', :forgot_password
