- content_for :title, "Log In"
= stylesheet_link_tag    "log_in_out", media: :all

%div.container.buffered-top

  .page-header
    %h1 Sheffield Water Centre

  %p.lead Log In

  .container#inputFields
    = simple_form_for :form_examples do |f|
      = f.input :username, as: :string
      = f.input :password, as: :password

      %div#buttonContainer
        %button#show-flash.btn.btn-default{ type: :button}
          = link_to 'Login', :home

        %button#show-flash.btn.btn-default{ type: :button }
          = link_to 'Forgot Password', :forgot_password
