- content_for :title, "Enter New Password"
= stylesheet_link_tag    "log_in_out", media: :all

%div.container.buffered-top

  .page-header
    %h1 Sheffield Water Centre

  %p.lead Enter New Password

  .container#inputFields
    = simple_form_for :form_examples do |f|
      = f.input :user_pass, as: :password, placeholder: "Password", label:false
      = f.input :user_pass, as: :password, placeholder: "Confirm Password", label:false

      %button#show-flash.btn.btn-default{ type: :button}
        = link_to 'Submit', :log_in_out
