- content_for :title, "Enter New Password"
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "new_password", media: :all

%div.container.buffered-top

  %p.lead Enter New Password

  .container#inputFields
    = simple_form_for :form_examples do |f|
      = f.input :user_pass, as: :password, placeholder: "Password", label:false
      = f.input :user_pass, as: :password, placeholder: "Confirm Password", label:false

      %div#submitButton
        = link_to 'Submit', :log_in_out, , class: "show-flash btn btn-default"
