= simple_form_for @project, html: {multipart: true} do |f|
  = f.error_notification

  .form-inputs
    = f.association :category
    = f.association :subcategory
    = f.input :project_number, placeholder: "Project Number", label:false
    = f.input :project_title, placeholder: "Project Title", label:false
    = f.input :priority_duration , placeholder: "Priority and Duration", label:false
    = f.input :aims, placeholder: "Aims", label:false
    = f.input :why_important, placeholder: "Whis is this project important", label:false
    = f.input :would_do_project, placeholder: "Targets of Members", label:false
    = f.input :funding, placeholder: "Funding", label:false
    = f.input :time_scale, placeholder: "Time Scale", label:false
    = f.input :benifits, placeholder: "Benefits", label:false
    = f.input :methodology, placeholder: "Methodology", label:false
    = f.input :stage, placeholder: "Stage", label:false
    = f.input :volunteers, placeholder: "Volunteers", label:false
    = f.input :image_remote_url, placeholder: "Enter a URL", label:false
    = f.hidden_field :user_id , :value => current_user.id
  .ul
    .li2
      = label_tag :images, 'Select up to 4 images'
    .li
      = label_tag :image1, 'Select main image'
      = f.file_field :image1
    .li
      = label_tag :image2, 'Select image 2'
      = f.file_field :image2
    .li
      = label_tag :image3, 'Select image 3'
      = f.file_field :image3
    .li
      = label_tag :image4, 'Select image 4'
      = f.file_field :image4


  .form-actions
    = f.button :submit
