-# Add a new Project
= simple_form_for @project, html: {multipart: true} do |f|
  = f.error_notification

  .form-inputs
    = f.association :category
    = f.association :subcategory
    = f.input :project_number, placeholder: "Project Number", label:false
    = f.input :project_title, placeholder: "Project Title", label:false
    = f.input :project_description , placeholder: "Project Description", label:false
    = f.input :priority_duration , placeholder: "Priority and Duration", label:false
    = f.input :aims, placeholder: "Aims", label:false
    = f.input :why_important, placeholder: "Why is this project important", label:false
    = f.input :would_do_project, placeholder: "Targets of Members", label:false
    = f.input :funding, placeholder: "Funding (eg. Venture Capital)", label:false
    = f.input :time_scale, placeholder: "Time Scale (Years, eg. 2)", label:false
    = f.input :benefits, placeholder: "Benefits", label:false
    = f.input :methodology, placeholder: "Methodology", label:false
    = f.input :stage, placeholder: "Stage", label:false
    = f.input :volunteers, placeholder: "Volunteers", label:false
    - if @project.new_record? == false
      = f.hidden_field :user_id , :value => @project.user_id
    - else
      = f.hidden_field :user_id , :value => current_user.id
  .ul
    -# Upload An Image
    .li
      = label_tag :image1, 'Select primary image'
      = f.file_field :image1
      - if @project.new_record? == false && @project.image1.present? == true
        = link_to 'Delete primary image', remove_project_image1_path, :data => { :confirm => 'Are you sure?' }
        = image_tag @project.image1.url(:small) , class: "img img-responsive hidden-xs pimage"
    .li
      = label_tag :image1, 'Select up to 3 other images: Image 2'
    .li
      = f.file_field :image2
      - if @project.new_record? == false && @project.image2.present? == true
        = link_to 'Delete image 2', remove_project_image2_path, :data => { :confirm => 'Are you sure?' }
        = image_tag @project.image2.url(:small) , class: "img img-responsive hidden-xs pimage"

    .li
      = label_tag :image3, 'Image 3'
      = f.file_field :image3
      - if @project.new_record? == false && @project.image3.present? == true
        = link_to 'Delete image 3', remove_project_image3_path, :data => { :confirm => 'Are you sure?' }
        = image_tag @project.image3.url(:small) , class: "img img-responsive hidden-xs pimage"

    .li
      = label_tag :image4, 'Image 4'
      = f.file_field :image4
      - if @project.new_record? == false && @project.image4.present? == true
        = link_to 'Delete image 4', remove_project_image4_path, :data => { :confirm => 'Are you sure?' }
        = image_tag @project.image4.url(:small) , class: "img img-responsive hidden-xs pimage"



  .form-actions
    = f.button :submit
