%p
  %b Project number:
  = @project.project_number
%p
  %b Project description:
  = @project.project_description
%p
  %b Priority & duration?
  = @project.priority_duration
%p
  %b Aims:
  = @project.aims
%p
  %b Why is this project important?
  = @project.why_important
%p
  %b Who would do this project?
  = @project.would_do_project
%p
  %b Funding:
  = @project.funding
%p
  %b Time scale (Years):
  = @project.time_scale
%p
  %b Benefits to industry:
  = @project.benefits
%p
  %b Notes on Methodology:
  = @project.methodology
%p
  %b Volunteers:
  = @project.volunteers
