-  content_for :title, "Projects-Edit"
= stylesheet_link_tag    "add_project", media: :all
= stylesheet_link_tag    "application", media: :all

%div.container.buffered-top
  .page-header
    %h1.top Sheffield Water Centre

.container#inputFields

  .container
    -# render add new project form
    = render 'form'

    = link_to 'Show', @project
    \|
    = link_to 'Back', projects_path
