= stylesheet_link_tag    "project_show", media: :all
= stylesheet_link_tag    "application", media: :all

%div.container.buffered-top
- content_for :title, @project.project_title

.container
  .page-header
    .container.button_container
      = link_to 'All Projects', :home, class: "show-flash btn button1  btn-default"
      = link_to 'Zero Failures', :zero_failures, class: "show-flash btn button2  btn-default"
      = link_to 'Resource Recovery and Efficiency', :rre, class: "show-flash btn button3  btn-default"
      = link_to 'Buried Infrastructure Performance', :bip,  class: "show-flash btn button4  btn-default"
      %hr.line

    .jumbotron.jtron
      %h1
        %b
        = @project.project_title
      %h4
        %b
        = @project.category.name
      %h5
        %b
        = @project.subcategory.name

    .btn-group
      = link_to 'Edit', edit_project_path(@project), class: "show-flash btn button1  btn-default"
      = link_to 'Destroy' , @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "show-flash btn button1  btn-default"


  .container.col-sm-4
    %table.table.images_table.table-responsive
      %tbody
      %tr
        %img.img-responsive.hidden-xs(src="/images/proto1.jpg")

      %tr
        %img.img-responsive.hidden-xs(src="/images/proto2.jpg")

      %tr
        %img.img-responsive.hidden-xs(src="/images/proto3.jpg")

      %tr
        %img.img-responsive.hidden-xs(src="/images/proto4.jpg")

  .container.col-sm-8
    %p
      %b Project number:
      = @project.project_number
    %p
      %b Priority duration:
      = @project.priority_duration
    %p
      %b Aims:
      = @project.aims
    %p
      %b Why important:
      = @project.why_important
    %p
      %b Would do project:
      = @project.would_do_project
    %p
      %b Funding:
      = @project.funding
    %p
      %b Time scale:
      = @project.time_scale
    %p
      %b Benefits:
      = @project.benifits
    %p
      %b Methodology:
      = @project.methodology
    %p
      %b Volunteers:
      = @project.volunteers
    %p
      %b Stage:
      = @project.stage

      %h2 Comments
      - @project.comments.each do |comment|
        %p
          %strong User:
          = comment.commenter
        %p
          %strong Comment:
          = comment.body
        %p
          = link_to "Delete Comment", [comment.project, comment], method: :delete, data: { confirm: 'Are you sure?' }

      %h2 Add a comment:
      = form_for([@project, @project.comments.build]) do |f|
        %p
          = f.label :commenter
          %br/
          = f.text_field :commenter
        %p
          = f.label :body
          %br/
          = f.text_area :body
        %p
          = f.submit
