= stylesheet_link_tag    "project_show", media: :all
= stylesheet_link_tag    "application", media: :all


%div.container.buffered-top
- content_for :title, @project.project_title

.container
  .page-header
    .container.button_container.top
      -# Show all projects
      = link_to 'All projects', :home, class: "show-flash btn button1 btn-default"
      -# Show projects with the category Zero Failures
      = link_to 'Zero Failures', :zero_failures, class: "show-flash btn button2 btn-default"
      -# Show projects with the category Resource Recovery and Efficiency.
      = link_to 'Resource Recovery and Efficiency', :rre, class: "show-flash btn button3 btn-default"
      -# Show projects with the category Buried Infrastructure Performance.
      = link_to 'Buried Infrastructure Performance', :bip , class: "show-flash btn button4 btn-default"

      %hr.line
    -#Project Title
    .jumbotron.jtron
      %h1
        %b
        = @project.project_title
      %h4
        %b
        = @project.category.name
      %h5
        %b
        = @project.subcategory.name
      %h6
        %b Stage:
        = @project.stage
    -# only allow admin and project creator to edit.
    .btn-group
    - if (user_signed_in? && (current_user.id == @project.user_id)) || current_user.admin?
      = link_to 'Edit', edit_project_path(@project), class: "show-flash btn button1  btn-default"
      = link_to 'Delete' , @project, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "show-flash btn button1  btn-default"

  - if @project.image1.present? == true && @project.image2.present? == false && @project.image3.present? == false && @project.image4.present? == false
    .container.col-sm-5
      %table.table.images_table.table-responsive
        %tbody
          %tr
          = image_tag @project.image1.url(:large) , class: "img img-responsive hidden-xs pimage"
  - else
    .container.col-sm-4
      %table.table.images_table.table-responsive
        %tbody
          %tr
            - if @project.image1.present? == true
              = image_tag @project.image1.url(:medium) , class: "img img-responsive hidden-xs pimage"

            - elsif (user_signed_in? && (current_user.id == @project.user_id)) || current_user.admin?
              To upload an image
              = link_to 'click here', edit_project_path(@project)

            -else
              No Image Uploaded

          %tr
            - if @project.image2.present? == true
              = image_tag @project.image2.url(:medium) , class: "img img-responsive hidden-xs pimage"
            - else

          %tr
            - if @project.image3.present? == true
              = image_tag @project.image3.url(:medium) , class: "img img-responsive hidden-xs pimage"
            - else

          %tr
            - if @project.image4.present? == true
              = image_tag @project.image4.url(:medium) , class: "img img-responsive hidden-xs pimage"
            -else

  - if @project.image1.present? == true && @project.image2.present? == false && @project.image3.present? == false && @project.image4.present? == false
    .container.col-sm-7.panel.panel-default.panel-body
      = render 'info'

  -else
    .container.col-sm-8.panel.panel-default.panel-body
      = render 'info'

  .panel.panel-default.panel-body.col-sm-12
    .container.post_comments_container.col-sm-12
      %h2 Join the discussion
      %p.text-muted
        = @project.comments.size
        Comments
      = form_for([@project, @project.comments.build]) do |f|
        %p
          %br/
          = f.hidden_field :commenter , :value => current_user.email
          = f.text_area :body, placeholder: "Enter your comment"
        %p
          = f.submit "Post", class: "show-flash btn button1  btn-default"

    .container.comments_container.col-sm-12
      - @project.comments.reject(&:new_record?).reverse.each do |comment|
        %hr
          %p.user
            %strong
            = comment.commenter
          %p
            %strong
            = comment.body
          %p
          - if can?(:manage, Comment) || comment.commenter == current_user.email
            .delete-comment-symbol
              = link_to "", [comment.project, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class => "show-flash btn btn-default btn-xs glyphicon glyphicon-trash", :name => "delete-comment-symbol"
