- content_for :title, 'Log In'
= stylesheet_link_tag  "log_in_out", media: :all

- @disabled_nav = true
- @sticky_footer=true
- $logged_in_message = true

- if $logged_out_message
  .alert.alert-danger.alert-dismissible{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    Logged out successfully!

- $logged_out_message = false

%div.container.buffered-top

  .page-header
    %h1 Sheffield Water Centre
  .row
    .col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
      .panel.panel-default.margin-top-20
        .panel-heading
          %h2.panel-title Log In
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .panel-body
            = f.input :email, autofocus: true
            = f.input :password
          .panel-footer
            %div#buttonContainer
              %div#buttonLogin
                = button_to 'Login', :home,  class: "show-flash btn btn-default"
              %div#buttonForgotPassword
                = button_to 'Forgot Password', :forgot_password,  class: "show-flash btn btn-default"
                .margin-top-10= render "devise/shared/links"
