- content_for :title, 'Log In'
= stylesheet_link_tag  "application", media: :all
= stylesheet_link_tag  "log_in_out", media: :all

-# Stops the nav bar from showing on page.
- @disabled_nav = true
-# Keeps the footer at the bottom of the page.
- @sticky_footer=true

.page-header
  %h1 Sheffield Water Centre

%div.container.buffered-top
  -#centre the form
  .row
    .col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
      .panel.panel-default.margin-top-20
        .panel-heading
          %h2.panel-title Log In
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .panel-body
            = f.input :email, autofocus: true,  placeholder: "Email", label:false
            = f.input :password, placeholder: "Password", label:false
          .panel-footer
            %div#buttonContainer
              %div
                = button_to 'Login', :home,  class: "show-flash btn btn-default buttonLogin"
                .margin-top-10= render "devise/shared/links"
