- content_for :title, 'Log In'
= stylesheet_link_tag  "application", media: :all
= stylesheet_link_tag  "log_in_out", media: :all

- @disabled_nav = true
- @sticky_footer=true

%div.container.buffered-top
  
  .row
    .col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
      .panel.panel-default.margin-top-20
        .panel-heading
          %h2.panel-title Log In
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .panel-body
            = f.input :email, autofocus: true,  placeholder: "Email", label:false
            = f.input :password, placeholder: "Password", label:false
          .panel-footer
            %div#buttonContainer
              %div#buttonLogin
                = button_to 'Login', :home,  class: "show-flash btn btn-default"
              %div#buttonForgotPassword
                = button_to 'Forgot Password', :forgot_password,  class: "show-flash btn btn-default"
                .margin-top-10= render "devise/shared/links"
