- content_for :title, "Join Sheffield Water Centre"
= stylesheet_link_tag    "registration", media: :all
= stylesheet_link_tag    "application", media: :all
-# Disables the nav bar
- @disabled_nav = true
-# Keeps the footer at the bottom of the page.
- @sticky_footer=true
.container.buffered-top
  %p.lead Register
  #inputFields.container
    = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f|
      = devise_error_messages!
      = f.hidden_field :invitation_token
      .form-inputs
        = f.input :name, required: true, autofocus: true, placeholder: "Name", label:false
        = f.input :work, autofocus: true, placeholder: "Work e.g. Researcher at SWC", label:false
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Password", label:false
        = f.input :password_confirmation, required: true, placeholder: "Confirm Password", label:false
      .form-actions
        = f.button :submit, "Sign up"
