- content_for :title, "Invite New Users"
= stylesheet_link_tag    "application", media: :all
= stylesheet_link_tag    "admin", media: :all

-# Keeps the footer at the bottom of the page.
- @sticky_footer=true
- @current_nav_identifier= :invite

.container.buffered-top
  %p.lead Invite new user
  #inputFields.container
    = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f|
      = devise_error_messages!
      - resource.class.invite_key_fields.each do |field|
        = f.input :email, placeholder: "Email", label:false
      -# Sends e-mail to the invited user
      = f.button :submit, t("devise.invitations.new.submit_button")
